@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.conteiner__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: auto;
}
.header{
    grid-area: header;
    position: sticky;
    top: 0%;}
    
    
    .header__nav{
        display: flex;
        flex-direction: row;
        background-color: rgb(6, 141, 6);
        height: 5rem;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
    
    }
    .header__nav__logo{
        width: 11%;
        height: 11%;
        display: flex;
        
        align-items: flex-start;
        
    
    
    }
    .header__nav__link__logo{
        width: 50%;
    }
    .header__nav__lista {
        width: 50%;
        display: flex;
      
       justify-content:end;
       
       flex-direction: row;
       align-items: flex-end;
       gap: 1rem;
       
       
    }
    .header__nav__lista a{
        text-decoration: none; 
        font-weight: bold;
        color: white;
        font-size: 1rem;
        
        
    } 
    .header__nav__lista a:hover{
        color:#d3f1f1;
        font-size: 1.1rem;
        transition: font-size 1s;
    }
    .header__nav__link__logo:hover{
      width:60%;
      transition:width 1s;
    }
.main{
    grid-area: main;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    row-gap: 5px;
   
    
}
.main__presentacion{
display: flex;
flex-direction: column;
align-items: center;
height:  40vh;
justify-content: center;
gap: 5px;
background-image: linear-gradient(to right top, #50a11c, #64b31c, #7ac61b, #90d818, #a8eb12);
}
.main__presentacion img{
    height: 10rem;
    animation-name:logo;
    animation-iteration-count:initial;
    animation-timing-function:ease;
    animation-duration: 2s;
    animation-delay: 1s;
    
    
}
@keyframes logo{
    0%{transform: rotate(100deg)};
    25%{transform:rotate(200deg)}
    50%{ transform: rotate(250deg)}
    75%{transition: rotate (300deg)}
    100%{transform: rotate (360deg);}
}
.main__presentacion h2{
    width: 50%;
 background-color: rgba(255, 255, 255, 0.815);
 height: 3rem;
 display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   animation-name:h2;
    animation-iteration-count:initial;
    animation-timing-function:ease;
    animation-duration: 2s;
    animation-delay: 1s;

    


}
@keyframes h2{
    0%{transform: rotate(100deg); width:20%};
    25%{transform:rotate(200deg); width:20%}
    50%{ transform: rotate(250deg);
             width:20%}
    75%{transition: rotate (300deg)}
    100%{transform: rotate (360deg);}}
.main__presentacion h2:hover{
    width: 60%;
    transition:2s
}
.section__ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(to right top, #6bd17d, #00ae8a, #008888, #006374, #153f52, #104258, #09465d, #004963, #00778d, #00a69b, #00d389, #96fb5f);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
}


.section__ofertas h3{
    width:50%;
    background-color:rgb(130, 206, 230);
    display: flex;
    align-items:center;
    justify-content: center;
   height: 5rem;
   animation-name:ofertas;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
    animation-duration: 10s;
    animation-delay: 1s;

}
@keyframes ofertas{
    0%{ width: 100%;}
    25%{width:50%}
    50%{width:100%;
          background-color:green;
        font-size: 2rem;}
    75%{width:50%}
    100%{width:100%}
}



.section__productos{
    
    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-image: linear-gradient(to right top, #3cf6cd, #45f6ad, #62f587, #84f159, #a8eb12);}
.contenedor__productos{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
align-items: center;
width: 100%;

}
.section__productos h4{
 width: 100%;
 height: 5rem;
 background-image: linear-gradient(to right top, #3cf6cd, #45f6ad, #62f587, #84f159, #a8eb12);
 display: flex;
justify-content: center;
align-items: center;
flex-direction: center;
   
   
    
    
    
}
.section__productos h4:hover{
    
    background-color:beige;
    transition:2s;
    font-size: 2rem;
}
.productos__card{
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.productos__card :hover{
    width:20rem;
    height:20rem;
}
.productos__card img{
 width: 100%;
 height: 60%;
 transition: width height 2s;
 
}
.nav__link a{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    font-size: 1rem;
    height: 2rem;
}
.nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link a:hover{
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.795);
    display: flex;
    justify-content: center;
    align-items:center;
    width:50%;
    transition:2s;
}

.footer{
    grid-area: footer;
}
.footer{ 
        
        background-color: rgb(6, 141, 6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }
        
.footer img{
    height: 4rem;
    width:4rem;
    


}   
.instagram{
    color: white;
    font-size: 2rem;
}

body{
    height:100vh;
    background-image: linear-gradient(to right top, #3cf6cd, #45f6ad, #62f587, #84f159, #a8eb12);
}
.grilla{
    display: grid;
    gap: 10px;
    grid-template-areas: "header"
                          "main"
                          "footer" ;
    grid-row: auto;
    grid-template-columns: 1fr;
    height:100%;
}
.header {
    grid-area: header;
}
.main__quienessomos{
    grid-area: main;
    background-image: linear-gradient(to right top, #3cf6cd, #45f6ad, #62f587, #84f159, #a8eb12);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
     height: 100%;
     width:100%;
    padding: 10px;
    margin: 0;
    
    

}
.texto{
    width: 50%;
    display: flex;
    
    justify-content: center;
}
.imagen{
    width: 50%;
}
.imagen img{
    height:92%;
    width: 90%;
}
.footer__quienessomos{
    grid-area:footer;
    background-color: rgb(6, 141, 6);
}


@media screen and (max-width: 800px) {

    .header__nav__logo{
        width: 15%;
        height: 15%;
    }
    .header__nav__lista a{
           
        font-size: 0.5rem;
    }
    
        
       
        
}